node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
.env.example
README.md
Dockerfile
.nyc_output
coverage
.dccache
*.md
.vscode
.idea
json
vendor/*/tests
vendor/*/test
vendor/*/docs
storage/logs/*
!storage/logs/.gitkeep